/Act.class
/Action.class
/Actionn.class
/Anemonefish.class
/Fish.class
/FlyFish.class
/Flyer.class
/Game.class
/Human.class
/Str.class
/Swimmer.class
/Tmp.class
/q1.class
/q2.class
/q3.class
/swim.class
